<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="container-fluid text-center mt-5">
    <h5>Upload Audio</h5>
    <% if (typeof(message)!= 'undefined') { %>
    <p id="msg"><%=message%></p>     
    <% } %>

    <form action="/audio/upload" class="p-3 p-md-5" method="post" enctype="multipart/form-data">
        <input class="form-control mb-4 mx-auto" type="file" name="audio" style="max-width: 400px;">
        <input class="form-control mb-4 mx-auto" type="text" name="name" style="max-width: 400px;">
        <input type="submit" class="btn btn-primary" >
    </form>

<a href="/voice-input" > Voicce recognition</a></div>
</body>


<script>
    setTimeout(()=>{
        document.getElementById('msg').remove()
    }, 4000)
</script>
</html>