<!DOCTYPE html>
<html>
<head>
  <title>Voice Input </title>
  <!-- <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"> -->
<!-- <script src="/bootstrap/dist/js/bootstrap.min.js"></script> -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</head>
<body>

  <button class="btn btn-primary" id="startButton">Start Listening</button>
  <button class="btn btn-danger"  id="stopButton">Stop Listening</button>
  <div id="result"></div>

  <script>
    const startButton = document.getElementById('startButton');
    const stopButton = document.getElementById('stopButton');
    const resultDiv = document.getElementById('result');
    let recognition;

    // Check if the browser supports SpeechRecognition
    if ('webkitSpeechRecognition' in window) {
      // Create a new SpeechRecognition object
      recognition = new webkitSpeechRecognition();

      // Set the continuous mode to keep listening for speech
      recognition.continuous = true;

      // Set the language for speech recognition
      recognition.lang = 'en-US';

      // Define the event handler when speech is recognized
      recognition.onresult = function(event) {
        const resultIndex = event.resultIndex;
        const transcript = event.results[resultIndex][0].transcript;

        // Display the recognized speech in the resultDiv
        resultDiv.innerHTML += '<p>' + transcript + '</p>';
      };

      // Define the event handler when an error occurs
      recognition.onerror = function(event) {
        console.error('Speech recognition error:', event.error);
      };
    } else {
      // Browser doesn't support SpeechRecognition
      resultDiv.innerHTML = '<p>Speech recognition is not supported in your browser.</p>';
      startButton.disabled = true;
      stopButton.disabled = true;
    }

    // Add click event listeners to start and stop listening buttons
    startButton.addEventListener('click', function() {
      // Start listening for speech
      recognition.start();
      startButton.disabled = true;
      stopButton.disabled = false;
    });

    stopButton.addEventListener('click', function() {
      // Stop listening for speech
      recognition.stop();
      startButton.disabled = false;
      stopButton.disabled = true;
    });
  </script>
</body>
</html>